.checkbox-container {
    &.collapsed {
        & > .checkbox-container__header {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        & > .checkbox-container__collapse {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &__header {
        background-color: $form-select-bg;
        background-image: escape-svg($form-select-indicator);
        background-repeat: no-repeat;
        background-position: $form-select-bg-position;
        background-size: $form-select-bg-size;
    }

    &__header,
    &__collapse {
        padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
        // stylelint-disable-next-line property-no-vendor-pref
        -moz-padding-start: subtract($form-select-padding-x, 3px); // See https://github.com/twbs/bootstrap/issues/32636
        border: $form-select-border-width solid $form-select-border-color;
        @include border-radius($form-select-border-radius, 0);
        @include box-shadow($form-select-box-shadow);
        @include transition($form-select-transition);
        appearance: none;
    }
}
