table.vehicle-table {
    tbody {
        tr {
            td > img {
                max-width: 250px;
                width: 250px;
                min-width: 125px;
            }
        }
    }
}
